@mixin shadow($shadow) {
  -webkit-box-shadow: $shadow ;
  -moz-box-shadow: $shadow ;
  box-shadow: $shadow;
}


.mixin {
  font-weight: 500;
  color: $primary-color;

  .first-box {
    background-color: $main-color;
    padding: 20px;
    width: 50%;
    margin: 30px auto;
    border-radius: 10px;
    box-sizing: border-box;
    @include shadow(5px 5px 10px $shadow-color);
    border: 2px solid gray;


    p {
      font-size: 20px;
      &::selection {
        color: $secondary-color;
      }
    }
  }

  .second-box {
    background-color: $main-color;
    padding: 20px;
    width: 50%;
    margin: 30px auto;
    border-radius: 10px;
    box-sizing: border-box;
    @include shadow(5px 5px 10px $shadow-color);
    border: 2px solid gray;


    p {
      font-size: 20px;

      &::selection {
        color: $secondary-color;
      }
    }
  }

  .third-box {
    background-color: $main-color;
    padding: 20px;
    width: 50%;
    margin: 30px auto;
    border-radius: 10px;
    box-sizing: border-box;
    @include shadow(5px 5px 10px $shadow-color);
    border: 2px solid gray;

    p {
      font-size: 20px;

      &::selection {
        color: $secondary-color;
      }
    }
  }
}